.num_tablaBitacora{
    background-color:#d97c3f;
    color: white; 
}

.usuario_tablaBitacora{
    background-color:#3fb3a4;
    color: white;
}
.fecha_tablaBitacora{
    background-color:#efce4a;
    color: white;
}
.actividad_tablaBitacora{
    background-color: #a671bd;
    color: white;
}
.descripcion_tablaBitacora{
    background-color:#5CBE86;
    color: white;
}
.editar_tablaBitacora{
    background-color: #A1A1A1;
    color: white;
}

.btnConteo{
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin: 0.5rem 0;
  width: 15%;
  border-radius: 5px;
    color: white;
  font-weight: regular;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
  border: none;
  border-bottom: solid #C8C8C8 0.1rem;
    background-color:#3fb3a4;
}
.btnMovFin{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin: 0.5rem 0;
    width: 15%;
    border-radius: 5px;
      color: white;
    font-weight: regular;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
    border-bottom: solid #C8C8C8 0.1rem;
      background-color:#efce4a;
}
.btnAlimTruchas{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin: 0.5rem 0;
    width: 15%;
    border-radius: 5px;
      color: white;
    font-weight: regular;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
    border-bottom: solid #C8C8C8 0.1rem;
      background-color: #a671bd;
}
.btnAddInv{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin: 0.5rem 0;
    width: 15%;
    border-radius: 5px;
      color: white;
    font-weight: regular;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
    border-bottom: solid #C8C8C8 0.1rem;
       background-color:#5CBE86;
}
.btnEnfermedad{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin: 0.5rem 0;
    width: 15%;
    border-radius: 5px;
      color: white;
    font-weight: regular;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
    border-bottom: solid #C8C8C8 0.1rem;
       background-color:#d97c3f;
}