//TARJETA
.dgPerfil{
    width: 80%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

//LOGO DE MENU PRINCIPAL
.imgMenuGestor{
    width: 100%;
    height: auto;
}

//CONTENIDO DE LA TARJETA
.contenidoDGPerfil{
    width: 90%;
    height: fit-content;
    margin-left: 5%;
    margin-right: 5%;
    display: table;
}

//CONTENIDO TEXTO
.contenidoDGPerfilA,
.contenidoDGPerfilB{
    width: 50%;
    display: table-cell;
}

.contenidoDGPerfilA{
    vertical-align: middle;
}

.imagenUsuarioPerfil{
    width: 300px;
        height: 300px;
    height: fit-content;
    margin:auto;

    img{
        width: 300px;
        height: 300px;
        object-fit:cover;
        max-width: 600px;
        height: auto;
    }
}
.contenidoDGPerfilB{
    img{
        margin: auto;
    }
}

.datGePerfil{
    display: flex;

    .izPerfil{
        text-align: right;
        width: 20%;
    }
    .derPerfil{
        text-align: left;
        width: 80%;
    }
}

.datGePerfil{
    display: inline-block;
    width: 100%;

    .izPerfil, 
    .derPerfil{
    width: 100%;
    float: left;

        p{
            margin: 0px;
        }
    }

    .derPerfil{
        text-align: left;
        width: 100%;
        p{
            margin-bottom: 1rem;
        }
    }

    .izPerfil{
        text-align: left;
        width: 100%;
        p{
            margin: 0px;
        }
    }
}

@media(max-width: 1100px){
    //CONTENIDO TEXTO
    .contenidoDGPerfilB{
        width: 100%;
        display: table-header-group;

        .btn{
            margin-bottom: 50px;
        }
    }
    //CONTENIDO TEXTO
    .contenidoDGPerfilA{
        width: 100%;
        display: table-footer-group;
    }

    .imagenUsuarioPerfil {
        width: 100%;
        margin: 0px;
    }
    .imagenUsuarioPerfil img {
        width: 100%;
    }
}

@media (max-width: 700px){
    .contenidoDGPerfil{
        display: block;
    }
    .dgPerfil{
        width: 100%;
        margin: 0px;
    }
}

@media(max-width: 1600px){
    .datGePerfil{

        .izPerfil, 
        .derPerfil{
        float: left;
        }
    }
}